
* {
    box-sizing: border-box
}

ul {
    list-style: none;
}

.sub-section {
    font-style: italic;
}

body {
    /*max-width: 339px;*/
    /*margin: 0 auto;*/
    display: flex;
    margin: 1em;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

img {
        /*display: block;*/
        /*margin: auto;*/
    /*display: flex;*/
    /*width: 339px;*/
    /*height: 224px;*/
    max-width: 100%;
}

.alert-info a {
    padding: .5em;
    background: #D7FDFE;
    border: solid 1px black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    color: black;
    text-decoration: none;
    }

/*.alert-info a {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    }*/

h1{
    margin: .2em auto .5em auto;
    /*text-align: center;*/
}

.nav-links{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.nav-links li{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    background: #CCCCCC;
    border: solid 1px black;
    align-items: center;
    /*justify-content: center;*/
    width: 100%;
    margin-bottom: 10px;
}

.nav-links a {
    margin: auto;
}

.header-img {
    width: 100%;
}

/*img {*/
/*    width 890px:*/
/*}*/

@media screen and (min-width: 992px) {
    body {
        /*max-width: 890px;*/
        /*margin: 0 auto;*/
        flex-direction: row;
        flex-wrap: wrap;

    }

    h1 {
        display: flex;
        margin-right: auto;
    }
    .hidden-on-desktop {
        display: none;
    }

    /*nav{*/
    /*    display: flex;*/
    /*}*/

    .nav-links {
        /*display: flex;*/
        flex-direction: row;
        /*justify-content: flex-end;*/
        /*border: 0;*/
        /*padding: 0;*/
        /*background: none;*/
    }

    .nav-links li{
     /*display: flex;*/
     /*margin-left: auto;*/
     /*border: 0;*/
     /*padding: 0;*/
     background: none;

    }

    /*ul {*/
    /*    justify-content: flex-end;*/
    /*}*/
    /*ul .nav-links {*/
    /*    display: inline-block;*/
    /*    justify-content: flex-end;*/
    /*}*/

    img {
        /*display: block;*/
        /*margin: auto;*/
        /*display: flex;*/
        width: 890px;
        height: 385px;
    }

    .main {
        /*display: flex;*/
        /*flex-direction: column;*/
        /*align-items: flex-start;*/
        /*max-width: 35%;*/
        flex-basis: 60%;
    }

    .sub-section {
        /*display: flex;*/
        /*flex-direction: column;*/
        /*align-items: flex-end;*/
        /*max-width: 35%;*/
        flex-basis: 40%;
    }


}
